page-home {
    .category-icon {
        background: #f3efef;
        text-align: center;
        margin-right: 21px;
        margin-bottom: 21px;
        padding: 21px;
        min-width: 120px;
        max-width: 240px;
        i {
            font-size: 60px;
        }
        h4 {
            font-weight: 400;
        }
    }
}
